# env
env/*.env
!env/common.env
!env/example.env

# generated
generated

# certs
certs/*.pem
certs/*.crt
certs/*-key.pem
certs/**/*.pem
certs/**/*.crt
certs/**/*-key.pem
certs/acme-challenge/
certs/letsencrypt/

# storage
storage/**

# backups
backups

# python
__pycache__/
*.pyc
.tmp/

src/*
logs/*
