# 1. Игнорируем файлы .env в папке env
env/*.env

# 2. Игнорируем сертификаты yuviron-
certs/yuviron-*.pem

# 3. Игнорируем всё содержимое storage
storage/**

# 4. ПРАВИЛО ДЛЯ SRC:
# Игнорируем вообще всё внутри src
src/**/*

# Но делаем исключение для всех .md файлов (включая подпапки)
!src/**/*.md