MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=yuviron_dev
MYSQL_USER=yuviron
MYSQL_PASSWORD=yuviron

ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__Default=server=mysql;port=3306;database=yuviron_dev;user=yuviron;password=yuviron;
ConnectionStrings__Redis=redis:6379
Swagger__Enabled=true

FILE_STORAGE_ROOT=/var/yuviron-server/storage


# ================ SEQ ================
SEQ_FIRSTRUN_ADMINUSERNAME=admin
SEQ_FIRSTRUN_ADMINPASSWORDHASH=<YOUR_HASH_PASSWORD>


# ================ Backup ================
BACKUP_ROOT=./backups
BACKUP_TMP=./backups/tmp
BACKUP_LOG_DIR=./backups/logs
BACKUP_ARCHIVE_DIR=./backups/archives
BACKUP_RESTORE_TEST_TMP=./backups/restore-test

# environments to process
BACKUP_ENVS=dev,prod

# optional custom storage paths
BACKUP_STORAGE_DEV=./storage/dev
BACKUP_STORAGE_PROD=./storage/prod

# optional off-site path
BACKUP_REMOTE_PATH=

# retention for unified archives
BACKUP_RETENTION_DAYS=14

# metadata
BACKUP_PROJECT_NAME=yuviron-server

# compose files
COMPOSE_BASE_FILE=infra/compose.base.yml
COMPOSE_DEV_FILE=infra/compose.dev.yml
COMPOSE_PROD_FILE=infra/compose.prod.yml

# compose project names
COMPOSE_PROJECT_DEV=yuviron_dev
COMPOSE_PROJECT_PROD=yuviron_prod

# service names
MYSQL_SERVICE_NAME=mysql
BACKEND_SERVICE_NAME=backend