MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

ASPNETCORE_ENVIRONMENT=
ConnectionStrings__Default=server=<NAME_SERVER>;port=<PORT>;database=<NAME_DATABASE>;user=<USER>;password=<PASSWORD>;
ConnectionStrings__Redis=<NAME>:<PORT>
Swagger__Enabled=<true | false>

FILE_STORAGE_ROOT=<PATH_TO_STORAGE>
